[submodule "third_party/go-ipfs"]
	path = go-ipfs
	url = git@github.com:diogo464/go-ipfs.git
[submodule "third_party/go-libp2p-kbucket"]
	path = third_party/go-libp2p-kbucket
	url = git@github.com:diogo464/go-libp2p-kbucket.git
[submodule "third_party/go-bitswap/"]
	url = git@github.com:diogo464/go-bitswap.git
[submodule "third_party/go-libp2p-kad-dht/"]
	url = git@github.com:diogo464/go-libp2p-kad-dht.git
[submodule "third_party/go-libp2p-quic-transport/"]
	url = git@github.com:diogo464/go-libp2p-quic-transport.git
[submodule "third_part/go-sumtype/"]
	url = git@github.com:diogo464/go-sumtype.git
