[Unit]
Description=IPFS daemon

[Service]
Type=simple
ExecStart=/usr/bin/ipfs daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
